   /* experiencia laboral */
   .experiencia-laboral{
    
    background-color:var(--article-color);
    color: var( --text-isWhite);
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    gap: 1rem 0;

}
.experience-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}
.experience-text{
    font-size: 2rem;
    color: rgb(255, 255, 255);
    
}
.experience-card{
    flex-wrap: wrap;
    color: white;
    display: flex;
    flex-direction: row;
    padding-inline: 5rem;
    justify-content: space-between;
    align-items: center;    
    gap: .8rem 0;

}
.experience-card h2{
    color: var(--text-principal);
    font-size: 1rem;
}
.experience-card .job p{
    font-size: .8rem;
}
.experience-card .job h3{
    font-size: .9rem;
}

.asignation{
    flex-basis: 600px;
}
.asignation p {
font-size: .9rem;
}
.experience-card button{
    border: 0;
    border-radius: 10px;
    padding: .4rem;
    color:rgb(255, 255, 255);
    background-color: rgb(2, 15, 26,.4);
    margin: .2rem 0;
}
.resume-study{
    height: 400px;
    background-color:rgba(117, 91, 251, 0.1);
    border-radius: 10px;
}